<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <%= current_year %>, designed by Berkovich Pavel<br>
      <%= link_to "Study project", github_url('berkovichpavel', 'test-guru') %> in online school
      <%= link_to "Thinknetica", 'http://thinknetica.com/' %>
    </footer>
  </body>
</html>
